{% extends 'base-back.html.twig' %}

{% block title %}Liste des Propositions{% endblock %}

{% block searchbar %}
    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" placeholder="Rechercher..." id="search-input" class="form-control" name="query" title="Enter search keyword">
            <div id="search-results"></div>
        </form>
    </div>
{% endblock %}

        {% block body %}

		<div class="search-bar">
			<form class="search-form" action="{{ path('vote_list') }}" method="GET">
				<input id="search-input" type="text" name="query" placeholder="Recherche par description" value="{{ query }}">
				<div id="search-results"></div> <!-- This will display search results -->
			</form>
		</div>
	
		{% if votes|length == 0 %}
			<div class="alert alert-warning" role="alert">
				Aucun vote trouvé avec cette description.
			</div>
		{% endif %}
		<div class="d-flex justify-content-between align-items-center mb-3">
			<div class="btn-group">
                <button id="filterBtn" type="button" class="btn btn-outline-primary filter-btn">
                    <i class="bi bi-funnel"></i> Filter
                </button>
                <!-- Button to access the stats -->
                <button onclick="location.href='{{ path('app_vote') }}'" class="btn btn-outline-primary">
                    <i class="bi bi-graph-up"></i> Statistiques
                </button>
                <div id="filterOptions">
                    <a href="{{ path('vote_list') }}" class="btn btn-danger">Clear</a>
                </div>
            </div>
		</div>


		{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}



        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Description</th>
                    <th scope="col">Date Soummision</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vote in votes %}
                <tr>
                    <td><h6>{{ vote.getDescE() }}</h6></td>
                    <td><h6>{{ vote.getDateSV()|date('d-m-Y') }}</h6></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <button onclick="location.href='{{ path('details_vote', {'id': vote.getIdV()}) }}'" type="button" class="btn btn-outline-primary"><i class="bi bi-info-circle"></i></button>
                            <button onclick="location.href='{{ path('modifier_vote', {'id': vote.getIdV()}) }}'" type="button" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
                            <button onclick="location.href='{{ path('supprimer_vote', {'id': vote.getIdV()}) }}'" type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   

		<!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item {% if votes.currentPageNumber == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('vote_list', {'page': 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                {% for page in 1..votes.pageCount %}
                    <li class="page-item {% if page == votes.currentPageNumber %}active{% endif %}">
                        <a class="page-link" href="{{ path('vote_list', {'page': page}) }}">{{ page }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if votes.currentPageNumber == votes.pageCount %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('vote_list', {'page': votes.pageCount}) }}" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav> 

        <button onclick="location.href='{{ path('ajouter_vote') }}'" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Ajouter Proposition</button>	
        <button onclick="location.href='{{ path('evenement_list') }}'" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Liste des événements</button>

		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<style>
			.btn-group {
				display: flex;
				align-items: center;
			}

			#filterOptions {
				margin-left: 10px; /* Adjust the left margin as needed */
				display: none;
			}
		</style>
        <style>
			.search-bar {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		
			.search-form {
				position: relative;
			}
			#search-input {
				width: 100%;
				padding: 10px;
				border: 1px solid #ccc;
				border-radius: 5px;
				font-size: 16px;
			}
		
			#search-results {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 1000;
				width: 100%;
				background-color: #fff;
				border: 1px solid #ccc;
				border-top: none;
				border-radius: 0 0 5px 5px;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
				display: none;
			}
		
			#search-results a {
				display: block;
				padding: 10px;
				color: #333;
				text-decoration: none;
				transition: background-color 0.3s ease;
			}
		
			#search-results a:hover {
				background-color: #f5f5f5;
			}
		</style>

        {% endblock %}
