{% extends 'base-back.html.twig' %}

{% block title %}Ajouter Equipement{% endblock %}

{% block body %}
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter équipement</h5>
                        <form method="POST" action="{{ path('ajouterEquipement') }}" enctype="multipart/form-data">
                            {{ form_start(form, {'attr': {'class': 'row g-3', 'novalidate': 'novalidate'}}) }}

                            <div class="mb-3">
                                <label for="inputReference" class="form-label">Référence</label>
                                {{ form_widget(form.reference_eq, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.reference_eq) }}
                            </div>

                            <div class="mb-3">
                                <label for="inputNom" class="form-label">Nom</label>
                                {{ form_widget(form.nom_eq, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.nom_eq) }}
                            </div>

                            <div class="mb-3">
                                <label for="inputCategorie" class="form-label">Catégorie</label>
                                {{ form_widget(form.categorie_eq, {'attr': {'class': 'form-select'}}) }}
                            </div>

                            <div class="mb-3">
                                <label for="inputQuantite" class="form-label">Quantité</label>
                                {{ form_widget(form.quantite_eq, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.quantite_eq) }}
                            </div>

                            <div class="mb-3">
                                <label for="inputDateAjout" class="form-label">Date d'ajout</label>
                                {{ form_widget(form.date_ajouteq, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="mb-3">
                                <label for="inputDescription" class="form-label">Description</label>
                                {{ form_widget(form.description_eq, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.description_eq) }}
                            </div>

                            <div class="mb-3">
                                <label for="inputImage" class="form-label">Image</label>
                                {{ form_widget(form.image_eq, {'attr': {'class': 'form-control', 'onchange': 'previewImage(this)'}}) }}
                                <img id="imagePreview" src="#" alt="Preview" style="max-width: 100%; max-height: 200px; display: none;">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                                <a href="{{ path('equipement_show') }}" class="btn btn-secondary">Annuler</a> <!-- Bouton d'annulation -->
                            </div>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ajout du script JavaScript pour afficher l'aperçu de l'image -->
    <script>
        // Function to display the selected image preview
        function previewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // Update the image source with the URL of the selected image
                    document.getElementById('imagePreview').src = e.target.result;
                    document.getElementById('imagePreview').style.display = 'block'; // Make the image visible
                }

                reader.readAsDataURL(input.files[0]); // Read the content of the image as a data URL
            }
        }
    </script>
{% endblock %}