{% extends 'base-back.html.twig' %}

{% block title %}Détails de l'équipement{% endblock %}

{% block body %}
<div class="container">
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Détails de l'équipement</h5>
                        <div class="mb-3">
                            <img src="{{ asset('uploads/' ~ equipement.getImageEq()) }}" class="img-thumbnail" alt="Image de l'équipement">
                        </div>
                        <p>Référence: {{ equipement.getReferenceEq() }}</p>
                        <p>Nom: {{ equipement.getNomEq() }}</p>
                        <p>Catégorie: {{ equipement.getCategorieEq() }}</p>
                        <p>Quantité: {{ equipement.getQuantiteEq() }}</p>
                        <p>Date d'ajout: {{ equipement.getDateAjouteq()|date('Y-m-d') }}</p>
                        <p>Description: {{ equipement.getDescriptionEq() }}</p>

                        <!-- Ajoutez d'autres détails de l'équipement ici -->

                        <div class="text-center">
                            <a href="{{ path('equipement_show') }}" class="btn btn-secondary">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
