{% extends 'base-front.html.twig' %}

{% block title %}Baladity Home{% endblock %}

{% block barreTitre %}
{% if 'Citoyen' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}" class="active">Home</a></li>
					 <li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualite') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('app_publicite') }}">Afficher Publicité</a></li>
							<li><a href="{{ path('ajouterPub') }}">Ajouter Publicité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#"><span>Evénement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('evenement_listCitoyen') }}">liste des Evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter proposition</a></li>
						</ul>
					</li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					<li><a href="contact.html">Contact</a></li>
                    <li><a href="contact.html">About Us</a></li>
					<li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>
{% elseif 'Responsable employé' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}">Home</a></li>
					<li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualiteshowResponsable') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('ajouterA2') }}">Ajouter Actualité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#" ><span>Evenement</span> <i
						class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="{{ path('evenement_listFront') }}">Liste des evenements</a></li>
							<li><a href="{{ path('ajouterFront_evenement') }}">Ajouter un evenement</a></li>
							<li><a href="{{ path('calendar') }}">Calendrier des evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter une proposition</a></li>
                            							<li><a href="{{ path('statsF') }}">Statistiques des evenements</a></li>


						</ul>
					</li>
					<li><a href="{{ path('equipement_show_responsable') }}"  class="active">Equipement</a></li>
					<li><a href="{{ path('tache_listfront') }}">Taches</a></li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					 <li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>
{% elseif 'Employé' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}" >Home</a></li>
					 <li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualite') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('app_publicite') }}">Afficher Publicité</a></li>
							<li><a href="{{ path('ajouterPub') }}">Ajouter Publicité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#"><span>Evénement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('evenement_listCitoyen') }}">liste des Evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter proposition</a></li>
						</ul>
					</li>
					<li><a href="{{ path('equipement_show_front') }}" class="active">Equipement</a></li>
					<li><a href="{{ path('tache_listfront') }}">Taches</a></li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					<li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>

{% elseif 'Directeur' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}" >Home</a></li>
					<li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualiteshowResponsable') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('ajouterA2') }}">Ajouter Actualité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('afficherReclamationFA') }}">les Réclamations</a></li>
							<li><a href="{{ path('statsReclamationF') }}">Statistiques des Réclamations</a></li>
							<li><a href="{{ path('chatbot') }}">Chat for help</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#" ><span>Evenement</span> <i
						class="bi bi-chevron-down dropdown-indicator"></i></a>
						<ul>
							<li><a href="{{ path('evenement_listFront') }}">Liste des evenements</a></li>
							<li><a href="{{ path('ajouterFront_evenement') }}">Ajouter un evenement</a></li>
							<li><a href="{{ path('calendar') }}">Calendrier des evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter une proposition</a></li>
                                                        <li><a href="{{ path('statsF') }}">Statistiques des evenements</a></li>

						</ul>
					</li>
					<li><a href="{{ path('equipement_show_responsable') }}" class="active">Equipement</a></li>
					<li><a href="{{ path('tache_listdir') }}">Taches</a></li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					<li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>

{% endif %}

					
{% endblock %}
{% block body %}

 <form action="{{ path('equipement_show_front') }}" method="get" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
    <input type="text" name="query" id="search-input" class="form-control" placeholder="Recherche...">
    <select name="category" id="category-select" class="form-control">
        <option value="">Toutes les catégories</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>
</form>

<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center" style="background-image: url('{{ asset('images/1698797913755.jfif') }}');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Equipement</h2>
          <p>
L'équipement municipal désigne l'ensemble des infrastructures, équipements et services gérés par une municipalité dans le but d'assurer le bon fonctionnement et le bien-être de la communauté locale. Cela peut inclure les routes, les égouts, l'éclairage public, les parcs, les bâtiments municipaux, les services d'eau et d'assainissement, les services de collecte des déchets, entre autres. En signalant les problèmes liés à ces équipements, les citoyens contribuent à améliorer la qualité de vie dans leur quartier et à garantir que les services municipaux répondent aux besoins de la population.</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Sélectionner l'élément d'entrée de recherche
    const searchInput = document.getElementById('search-input');

    // Écouter l'événement de saisie utilisateur dans le champ de recherche
    searchInput.addEventListener('input', function() {
        // Soumettre automatiquement le formulaire lors de la saisie dans le champ de recherche
        document.querySelector('.form-search').submit();
    });
</script>
  
  
{% endblock %}

{% block rest %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <br>
    <h1 class="card-title" style="text-align: center; font-size: 2em;">La liste des équipements</h1>
    <br>

    <div class="col-10 mx-auto"> <!-- Adjusted column width -->
        <div class="card">
            <div class="card-body">
                {% block equipement_list %}
                    {% for equipement in equipements %}
                        {% if loop.index0 % 2 == 0 %} {# Start a new row for every even-indexed equipment #}
                            <div class="row">
                        {% endif %}
                        <div class="col-md-6"> <!-- Adjusted column width to 6 for each equipment in a row -->
                            <div class="d-flex flex-column">
                                {% block equipement_image %}
                                    {% if equipement.getImageEq() %}
                                        {% set fileExtension = equipement.getImageEq()|split('.')|last %}
                                        {% if fileExtension in ['jpg', 'jpeg', 'png', 'gif'] %}
                                            <img src="{{ asset('uploads/' ~ equipement.getImageEq()) }}" class="img-thumbnail" alt="Image" style="width: 100%; max-width: 400px;"> <!-- Adjusted max-width -->
                                        {% elseif fileExtension == 'pdf' %}
                                            <a href="{{ asset('uploads/' ~ equipement.getImageEq()) }}">View PDF</a>
                                        {% endif %}
                                    {% endif %}
                                {% endblock %}
                            </div>
                            <h4 class="card-title" style="font-size: 1.5rem; margin-bottom: 10px;">{{ equipement.getNomEq() }}</h4>
                            <p class="card-text" style="margin-top: 5px;">
                                Référence: {{ equipement.getReferenceEq() }}<br>
                                Catégorie: {{ equipement.getCategorieEq() }}<br>
                                Quantité: {{ equipement.getQuantiteEq() }}<br>
                                <!-- Ajoutez d'autres attributs disponibles ici -->
                            </p>

                            {% block equipement_actions %}
                                <!-- Detail button -->
                                <a href="{{ path('equipement_detail_front', {'id': equipement.getIdEquipement()}) }}" class="btn btn-sm btn-outline-info">
                                    <i class="bi bi-info-circle"></i> Détails
                                </a>
                                <!-- Use button -->
                                 <button onclick="utiliserEquipement({{ equipement.getIdEquipement() }})" class="btn btn-sm btn-outline-primary {% if equipement.getQuantiteEq() == 0 %}disabled{% endif %}">
        <i class="bi bi-briefcase"></i> Utiliser
    </button>
                                <!-- Render button -->
                                 <button onclick="rendreEquipement({{ equipement.getIdEquipement() }})" class="btn btn-sm btn-outline-warning">
    <i class="bi bi-arrow-repeat"></i> Rendre
</button>
                                <!-- Avis button -->
                                <a href="{{ path('avis_show_front', {'id': equipement.getIdEquipement()}) }}" class="btn btn-sm btn-outline-info">
                                    <i class="bi bi-chat-square-text"></i> Avis
                                </a>
                            {% endblock %}
                        </div>
                        {% if loop.index % 2 == 0 or loop.last %} {# Close the row for every pair of equipment or for the last equipment #}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endblock %}
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item {% if currentPage == 1 %}disabled{% endif %}">
                            <a class="page-link" href="{{ path('equipement_show', {'page': 1}) }}" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        {% for page in 1..totalPages %}
                            <li class="page-item {% if page == currentPage %}active{% endif %}">
                                <a class="page-link" href="{{ path('equipement_show', {'page': page}) }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if currentPage == totalPages %}disabled{% endif %}">
                            <a class="page-link" href="{{ path('equipement_show', {'page': totalPages}) }}" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Pagination -->
            </div>
        </div>
    </div>

    {% block ListeTalacheNav %}
        <!-- Additional navigation elements if needed -->
    {% endblock %} 
<script>
function utiliserEquipement(id) {
    $.ajax({
        type: 'POST',
        url: '/equipement/utiliser/' + id,
        success: function(response) {
            if (response.success) {
                alert('Equipement utilisé avec succès.');
                // Recharger la page après avoir utilisé l'équipement avec succès
                location.reload();
            } else {
                alert('Erreur : ' + response.error);
            }
        },
        error: function(xhr, status, error) {
            alert('Une erreur s\'est produite : ' + error);
        }
        
    });
}

function rendreEquipement(id) {
    var quantiteUtilisee = prompt("Entrez la quantité utilisée :", "1"); // Demander à l'utilisateur la quantité utilisée
    if (quantiteUtilisee !== null) { // Vérifier si l'utilisateur a cliqué sur "OK"
        quantiteUtilisee = parseInt(quantiteUtilisee); // Convertir la chaîne en entier
        if (!isNaN(quantiteUtilisee) && quantiteUtilisee > 0) { // Vérifier si la quantité est un nombre valide et supérieure à zéro
            $.ajax({
                type: 'POST',
                url: '/equipement/rendre/' + id,
                data: { quantite_utilisee: quantiteUtilisee }, // Envoyer la quantité utilisée avec la requête
                success: function(response) {
                    if (response.success) {
                        alert('Equipement rendu avec succès.');
                        // Recharger la page
                        location.reload();
                    } else {
                        alert('Erreur : ' + response.error);
                    }
                },
                error: function(xhr, status, error) {
                    alert('Une erreur s\'est produite : ' + error);
                }
            });
        } else {
            alert('Veuillez entrer un nombre entier valide supérieur à zéro.');
        }
    }
}


</script>
{% endblock %}

