{% extends 'base-front.html.twig' %}

{% block title %}modifier réclamation{% endblock %}

{% block barreTitre %}
{% if 'Citoyen' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}" >Home</a></li>
					 <li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualite') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('app_publicite') }}">Afficher Publicité</a></li>
							<li><a href="{{ path('ajouterPub') }}">Ajouter Publicité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#" class="active"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
                    <li class="dropdown"><a href="#"><span>Evénement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('evenement_listCitoyen') }}">liste des Evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter proposition</a></li>
						</ul>
					</li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					<li><a href="contact.html">Contact</a></li>
                    <li><a href="contact.html">About Us</a></li>
					<li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>
{% elseif 'Responsable employé' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}" >Home</a></li>
					<li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualiteshowResponsable') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('ajouterA2') }}">Ajouter Actualité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#" class="active"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#" ><span>Evenement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class="active"></i></a>
						<ul>
							<li><a href="{{ path('evenement_listFront') }}">Liste des evenements</a></li>
							<li><a href="{{ path('ajouterFront_evenement') }}">Ajouter un evenement</a></li>
							<li><a href="{{ path('calendar') }}">Calendrier des evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter une proposition</a></li>
							<li><a href="{{ path('statsF') }}">Statistiques des evenements</a></li>

						</ul>
					</li>
					<li><a href="{{ path('equipement_show_responsable') }}">Equipement</a></li>
					<li><a href="{{ path('tache_listfront') }}">Taches</a></li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					 <li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>
{% elseif 'Employé' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}">Home</a></li>
					 <li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualite') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('app_publicite') }}">Afficher Publicité</a></li>
							<li><a href="{{ path('ajouterPub') }}">Ajouter Publicité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
					  <li class="dropdown"><a href="#"><span>Evénement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('evenement_listCitoyen') }}">liste des Evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter proposition</a></li>
						</ul>
					</li>
					<li><a href="{{ path('equipement_show_front') }}">Equipement</a></li>
					<li><a href="{{ path('tache_listfront') }}">Taches</a></li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					<li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>

{% elseif 'Directeur' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}" >Home</a></li>
					<li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualiteshowResponsable') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('ajouterA2') }}">Ajouter Actualité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#" class="active"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('afficherReclamationFA') }}">les Réclamations</a></li>
							<li><a href="{{ path('statsReclamationF') }}">Statistiques des Réclamations</a></li>
							<li><a href="{{ path('chatbot') }}">Chat for help</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#" ><span>Evenement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class="active"></i></a>
						<ul>
							<li><a href="{{ path('evenement_listFront') }}">Liste des evenements</a></li>
							<li><a href="{{ path('ajouterFront_evenement') }}">Ajouter un evenement</a></li>
							<li><a href="{{ path('calendar') }}">Calendrier des evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter une proposition</a></li>
							<li><a href="{{ path('statsF') }}">Statistiques des evenements</a></li>


						</ul>
					</li>
					<li><a href="{{ path('equipement_show_responsable') }}">Equipement</a></li>
					<li><a href="{{ path('tache_listdir') }}">Taches</a></li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					<li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>

{% endif %}
{% endblock %}
  {% block imagegpt %} 
  {% endblock %}

{% block body %}

{% endblock %}

{% block rest %}
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('{{ asset('images/1698797913755.jfif') }}');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Reclamation</h2>
                    <p>Une réclamation dans une municipalité est comme un signal que vous envoyez à votre mairie, comme un trou dans la route, des poubelles qui débordent, ou un lampadaire cassé. En signalant ces problèmes, vous aidez la mairie à les résoudre et à rendre votre quartier plus agréable pour tout le monde.</p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="{{ path('app_main_front') }}">Home</a></li>
                <li>Reclamation</li>
            </ol>
        </div>
    </nav>
</div>

<section id="get-a-quote" class="get-a-quote">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row g-0">
            <div class="col-lg-5 quote-bg" style="background-image: url('{{ asset('images/quote-bg.jpg') }}');"></div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body" >
                        <h3>modifier votre réclamation :</h3>
                        <br>
                        <div class="container">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    {{ form_label(form.sujet_reclamation, "Sujet de la réclamation", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.sujet_reclamation, {'attr': {'class': 'form-control'}}) }}
                                    {% if form_errors(form.sujet_reclamation) is not empty %}
                                        <div class="alert alert-danger">
                                            {{ form_errors(form.sujet_reclamation) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.type_reclamation, "Type de la réclamation", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.type_reclamation, {'attr': {'class': 'form-select', 'id': 'typeReclamation'}}) }}
                                    {% if form_errors(form.type_reclamation) is not empty %}
                                        <div class="alert alert-danger">
                                            {{ form_errors(form.type_reclamation) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12">
                                    {{ form_label(form.description_reclamation, "Description de la réclamation", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.description_reclamation, {'attr': {'class': 'form-control'}}) }}
                                    {% if form_errors(form.description_reclamation) is not empty %}
                                        <div class="alert alert-danger">
                                            {{ form_errors(form.description_reclamation) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12">
                                    <label for="formFile" class="col-sm-2 col-form-label">Image</label>
                                    {{ form_widget(form.image_reclamation, {'attr': {'class': 'form-control', 'onchange': 'previewImage(this)'}}) }}
                                    {% if form_errors(form.image_reclamation) is not empty %}
                                        <div class="alert alert-danger">
                                            {{ form_errors(form.image_reclamation) }}
                                        </div>
                                    {% endif %}
                                </div>
                                {% if reclamation.getImageReclamation() %}
                                <div class="row mb-3">
                                    <div class="form-group col-sm-12">
                                        <img id="imagePreview" src="{{ asset('uploads/' ~ reclamation.getImageReclamation()) }}" alt="Image réclamation" style="max-width: 50%; max-height: 50%;">
                                    </div>
                                </div>
                            {% endif %}
                                <div class="col-md-12">
                                    {{ form_label(form.adresse_reclamation, "Adresse de la réclamation", {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.adresse_reclamation, {'attr': {'class': 'form-control'}}) }}
                                    {% if form_errors(form.adresse_reclamation) is not empty %}
                                        <div class="alert alert-danger">
                                            {{ form_errors(form.adresse_reclamation) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12 text-center">
                                    <div class="error-message"></div>
                                        {{ form_widget(form.modifier, {'attr': {'class': 'btn btn-primary'}}) }}
                                </div>
                                
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div><!-- End Quote Form -->
        </div>
    </div>
</section>

</div>

<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('imagePreview').src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}