{% extends 'base-front.html.twig' %}
{% block title %}Ajouter Tâche{% endblock %}
{% block barreTitre %}
{% if 'Citoyen' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}" >Home</a></li>
					 <li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualite') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('app_publicite') }}">Afficher Publicité</a></li>
							<li><a href="{{ path('ajouterPub') }}">Ajouter Publicité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
                    <li class="dropdown"><a href="#"><span>Evénement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('evenement_listCitoyen') }}">liste des Evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter proposition</a></li>
						</ul>
					</li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					<li><a href="contact.html">Contact</a></li>
                    <li><a href="contact.html">About Us</a></li>
					<li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>
{% elseif 'Responsable employé' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}" >Home</a></li>
					<li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualiteshowResponsable') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('ajouterA2') }}">Ajouter Actualité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#" ><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#" ><span>Evenement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class="active"></i></a>
						<ul>
							<li><a href="{{ path('evenement_listFront') }}">Liste des evenements</a></li>
							<li><a href="{{ path('ajouterFront_evenement') }}">Ajouter un evenement</a></li>
							<li><a href="{{ path('calendar') }}">Calendrier des evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter une proposition</a></li>
							<li><a href="{{ path('statsF') }}">Statistiques des evenements</a></li>


						</ul>
					</li>
					<li><a href="{{ path('equipement_show_responsable') }}">Equipement</a></li>
					<li><a href="{{ path('tache_listfront') }} " class="active">Taches</a></li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					 <li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>
{% elseif 'Employé' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}">Home</a></li>
					 <li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualite') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('app_publicite') }}">Afficher Publicité</a></li>
							<li><a href="{{ path('ajouterPub') }}">Ajouter Publicité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('typeReclamationF') }}">Ajouter Réclamation</a></li>
							<li><a href="{{ path('afficherReclamationF') }}">Mes réclamations</a></li>
						</ul>
					</li>
					  <li class="dropdown"><a href="#"><span>Evénement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('evenement_listCitoyen') }}">liste des Evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter proposition</a></li>
						</ul>
					</li>
					<li><a href="{{ path('equipement_show_front') }}">Equipement</a></li>
					<li><a href="{{ path('tache_listfront') }}" class="active">Taches</a></li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					<li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>

{% elseif 'Directeur' in user.getTypeUser() %}
<li><a href="{{ path('app_main_front') }}" >Home</a></li>
					<li class="dropdown"><a href="#"><span>Actualité</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_actualiteshowResponsable') }}">Afficher Actualité</a></li>
							<li><a href="{{ path('ajouterA2') }}">Ajouter Actualité</a></li>
						</ul>
					</li>
					 <li class="dropdown"><a href="#"><span>Reclamation</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('afficherReclamationFA') }}">les Réclamations</a></li>
							<li><a href="{{ path('statsReclamationF') }}">Statistiques des Réclamations</a></li>
							<li><a href="{{ path('chatbot') }}">Chat for help</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#"><span>Evenement</span> <i
						class="bi bi-chevron-down dropdown-indicator" class="active"></i></a>
						<ul>
							<li><a href="{{ path('evenement_listFront') }}">Liste des evenements</a></li>
							<li><a href="{{ path('ajouterFront_evenement') }}">Ajouter un evenement</a></li>
							<li><a href="{{ path('calendar') }}">Calendrier des evenements</a></li>
							<li><a href="{{ path('ajouter_voteFront') }}">Ajouter une proposition</a></li>
							<li><a href="{{ path('statsF') }}">Statistiques des evenements</a></li>


						</ul>
					</li>
					<li><a href="{{ path('equipement_show_responsable') }}">Equipement</a></li>
					<li><a href="{{ path('tache_listdir') }}" class="active">Taches</a></li>
					<li><a href="{{ path('chatgpt') }}">ChatGpt</a></li>
					<li class="dropdown"><a href="#"><span>Profile</span> <i
						class="bi bi-chevron-down dropdown-indicator" class=""></i></a>
						<ul>
							<li><a href="{{ path('app_profile_fron') }}">Profile</a></li>
							<li><a href="{{ path('sign_out') }}">Logout</a></li>
						</ul>
					</li>

{% endif %}

					
{% endblock %}

{% block body %}
<style>
	body {
	   font-family: Arial, sans-serif;
	   background-color: #f8f9fa;
	   margin: 0;
	   padding: 0;
	}

	form {
	   background-color: #ffffff;
	   padding: 20px;
	   border-radius: 10px;
	   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	   margin: 20px auto;
	   max-width: 600px;
	}

	input[type="text"],
	input[type="date"] {
	   width: 100%;
	   padding: 10px;
	   margin: 5px 0;
	   border: 1px solid #ccc;
	   border-radius: 5px;
	   box-sizing: border-box;
	}

	select {
	   width: 100%;
	   padding: 10px;
	   margin: 5px 0;
	   border: 1px solid #ccc;
	   border-radius: 5px;
	   box-sizing: border-box;
	}

	.alert {
	   margin-bottom: 10px;
	}

	button {
	   padding: 10px 20px;
	   border: none;
	   border-radius: 5px;
	   background-color: #007bff;
	   color: #ffffff;
	   cursor: pointer;
	}

	button:hover {
	   background-color: #0056b3;
	}

	.form-check {
	   margin-bottom: 10px;
	}

	.form-check input[type="radio"] {
	   margin-right: 10px;
	}

	.form-check label {
	   color: #000000; /* Black text for radio button labels */
	}
 </style>
{{ form_start(f, {'attr': {'class': 'row g-3', 'novalidate': 'novalidate'}}) }}
{% if form_errors(f)|length > 0 %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
   <i class="bi bi-exclamation-octagon me-1"></i>
   {{ form_errors(f) }}
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="col-md-4">
   {{ form_widget(f.nom_Cat, { 'attr': {'class': 'form-control'} }) }}
   {% if f.nom_Cat.vars.errors|length > 0 %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-octagon me-1"></i>
      {% for error in f.nom_Cat.vars.errors %}
      {{ error.message }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endif %}
</div>
<div class="col-md-4">
   {{ form_widget(f.titre_T, { 'attr': {'class': 'form-control', 'placeholder': 'Titre Tache'} }) }}
   {% if f.titre_T.vars.errors|length > 0 %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-octagon me-1"></i>
      {% for error in f.titre_T.vars.errors %}
      {{ error.message }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endif %}
</div>
<div class="col-sm-10">
   <div class="col-sm-10">
      {{ form_widget(f.pieceJointe_T, {'attr': {'class': 'form-control', 'onchange': 'afficherApercu(this)'}}) }}
      {% if imagePath %}
          <img id="imagePreview" src="{{ asset(imagePath) }}" alt="Aperçu de l'image" style="max-width: 100%; max-height: 100px; display: block; border: 1px solid #ccc; padding: 5px;">
      {% else %}
          <img id="imagePreview" src="#" alt="Aperçu de l'image" style="max-width: 100%; max-height: 100px; display: none; border: 1px solid #ccc; padding: 5px;">
      {% endif %}
  </div>
</div>
<div class="col-md-5">
   {{ form_widget(f.date_DT, { 'attr': {'class': 'form-control'} }) }}
   {% if f.date_DT.vars.errors|length > 0 %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-octagon me-1"></i>
      {% for error in f.date_DT.vars.errors %}
      {{ error.message }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endif %}
</div>
<div class="col-md-5">
   {{ form_widget(f.date_FT, { 'attr': {'class': 'form-control'} }) }}
   {% if f.date_FT.vars.errors|length > 0 %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-octagon me-1"></i>
      {% for error in f.date_FT.vars.errors %}
      {{ error.message }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endif %}
</div>
<div class="col-5">
   {{ form_widget(f.desc_T, { 'attr': {'class': 'form-control', 'placeholder': 'Description Tache'} }) }}
   {% if f.desc_T.vars.errors|length > 0 %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-octagon me-1"></i>
      {% for error in f.desc_T.vars.errors %}
      {{ error.message }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endif %}
</div>
<div class="col-5">
   {% for choice in f.etat_T %}
   <div class="form-check">
      {{ form_widget(choice, { 'attr': {'class': 'form-check-input'} }) }}
      {{ form_label(choice, null, { 'label_attr': {'class': 'form-check-label'} }) }}
   </div>
   {% endfor %}
   {% if f.etat_T.vars.errors|length > 0 %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <i class="bi bi-exclamation-octagon me-1"></i>
      {% for error in f.etat_T.vars.errors %}
      {{ error.message }}
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endif %}
</div>
<div class="text-center">
   {{ form_widget(f.Save, { 'attr': {'class': 'btn btn-outline-primary'} }) }}
   {{ form_widget(f.Reset, { 'attr': {'class': 'btn btn-secondary'} }) }}
</div>
</div>
{{ form_end(f) }}
<div class="col-md-4" style="margin-top: 10px;">
   <!-- Adjust margin-top as needed -->
   <button onclick="goBack()" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Go Back</button>
   <script>
      function goBack() {
         window.history.back();
      }
   </script>
</div>
<script>
   // Function to display the selected image preview
   function afficherApercu(input) {
       if (input.files && input.files[0]) {
           var reader = new FileReader();
           var file = input.files[0];
           var fileType = file.type.toLowerCase();

           // Check if the file type is an image
           if (fileType.startsWith('image/')) {
               reader.onload = function (e) {
                   // Update the image source with the URL of the selected image
                   document.getElementById('imagePreview').src = e.target.result;
                   document.getElementById('imagePreview').style.display = 'block'; // Make the image visible
               }

               reader.readAsDataURL(input.files[0]); // Read the content of the image as a data URL
           } else {
               // If file type is not an image, hide the preview
               document.getElementById('imagePreview').style.display = 'none';
           }
       }
   }
</script>

{% endblock %}
{%block rest%}{% endblock %}
