<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }
        .container {
            width: 600px;
            margin: 0 auto;
        }
        .receipt-header {
            text-align: center;
            margin-top: 50px;
        }
        .receipt-body {
            margin-top: 30px;
            padding: 20px;
            border: 1px solid #ccc;
        }
        .receipt-body p {
            margin: 10px 0;
        }
        .receipt-footer {
            text-align: center;
            margin-top: 30px;
        }
        .logo {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }
        h1,
        h2,
        h3 {
            margin-top: 0;
            margin-bottom: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 30px;
        }
        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ccc;
        }
        th {
            background-color: #eee;
        }
        .bold {
            font-weight: bold;
        }
        .center {
            text-align: center;
        }
        .gray {
            color: #777;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="receipt-header">
        <h1>Event Details</h1>
    </div>
    <div class="receipt-body">
        <p>Merci d'avoir rejoint notre événement! Voici les détails:</p>

        <h3>{{ evenement.getNomE }}</h3>

        <table>
            <tr>
                <th>Les detailles de votre evenement</th>
            </tr>
            <tr>
                <td>
                    <p><span class="bold">Date début de l'événement:</span> {{ evenement.getDateDHE()|date('d/m/Y') }}</p>
                    <p><span class="bold">Date fin de l'événement:</span> {{ evenement.getDateDHF()|date('d/m/Y') }}</p>
                    <p><span class="bold">Capacité de l'événement:</span> {{ evenement.getCapaciteE() }}</p>
                    <p><span class="bold">Catégorie de l'événement:</span> {{ evenement.getCategorieE() }}</p>
                </td>
            </tr>
        </table>

        <p>Veuillez présenter ce document au superviseur de l'événement à votre arrivée.</p>
    </div>
</div>
</body>
</html>
