{% extends 'base-back.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block TacheNavState %}
<a class="nav-link" data-bs-target="#GestionTache-nav" data-bs-toggle="collapse" href="#" aria-expanded="true">
	{% endblock %}

	{% block TacheContentState %}
	<ul id="GestionTache-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
		{% endblock %}

		{% block ListeTacheNav %}<a href="{{ path('tache_list') }}" class="active"><i class="bi bi-circle"></i><span>Detail utilisateurs</span></a>{% endblock %}


		{% block body %}
		<div class="container mt-4">
			<div class="row">
				<div class="col-md-6">


				<!-- Profile Edit Form -->
				{{ form_start(form, {'attr': {'action': path('user_detail', {'i': i}), 'method': 'POST'}}) }}
				<div class="col-12">
    			<label for="yourName" class="form-label">Nom</label>
    				<input type="text" class="form-control" id="yourName" value="{{ user.getNomUser() }}" readonly>
				</div><br>

				<div class="col-12">
   					<label for="yourEmail" class="form-label">Email</label>
    				<input type="text" class="form-control" id="yourEmail" value="{{ user.getEmailUser() }}" readonly>
				</div><br>
				<div class="col-12">
    				<label for="yourPhoneNumber" class="form-label">Phone Number</label>
    				<input type="text" class="form-control" id="yourPhoneNumber" value="{{ user.getPhoneNumberUser() }}" readonly>
				</div><br>
				<div class="col-12">
    				<label for="yourLocation" class="form-label">Location</label>
    				<input type="text" class="form-control" id="yourLocation" value="{{ user.getLocationUser() }}" readonly>
				</div><br>
				<div class="col-12">
                            <label for="userType" class="form-label">Type</label>
                            {{ form_widget(form.type_user, {'attr': {'class': 'form-control', 'id': 'userType'}}) }}
                            {{ form_errors(form.type_user) }}
                </div><br>
				<div class="col-12">
					<label for="isBanned" class="form-label">Banned</label>
					{{ form_widget(form.isBanned, {'attr': {'class': 'form-control', 'id': 'isBanned'}}) }}
					{{ form_errors(form.isBanned) }}
				</div><br>
				<div class="col-12">
					<button type="submit" class="btn btn-primary w-100">Modifier</button>
				</div><br>
				{{ form_end(form) }}
			

				<!-- End Profile Edit Form -->

				
				</div>
				<div class="col-md-6">
            {% if user.getImageuser() %}
                {% set fileExtension = user.getImageuser()|split('.')|last %}
                {% if fileExtension in ['jpg', 'jpeg', 'png', 'gif'] %}
                    <img src="{{ asset('uploads/' ~ user.getImageuser()) }}" class="img-thumbnail" alt="Piece jointe" style="width: 100%; max-width: 250px;"> <!-- Adjusted max-width -->
                {% endif %}
            {% endif %}
        </div>
        </div>
    </div>
</div>
<div class="col-md-4" style="margin-top: 10px;"> <!-- Adjust margin-top as needed -->
	<button onclick="goBack()" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Go Back</button>
	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</div>
			</div>


		</div>
	</div>
	{% endblock %}